<div class="background bg-dark bg-gradient opacity-25">
  <div class="p-5 container homepage-text">
    <h1 class="text-center text-light pt-4">Who am I?</h1>
    <p class="p-5 text-light paragraph-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officia velit culpa nulla illum reprehenderit adipisci animi necessitatibus, dignissimos totam? Debitis optio quos ut reiciendis vel minima suscipit aliquam distinctio.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore optio provident recusandae cumque a iste cupiditate laudantium rerum, nisi id laborum error eum incidunt dolorem asperiores. Beatae dignissimos similique reiciendis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi, rerum tenetur, sunt placeat assumenda maxime deserunt ex repudiandae iure qui totam est nemo labore laudantium fuga magnam esse cum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officia velit culpa nulla illum reprehenderit adipisci animi necessitatibus, dignissimos totam? Debitis optio quos ut reiciendis vel minima suscipit aliquam distinctio.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore optio provident recusandae cumque a iste cupiditate laudantium rerum, nisi id laborum error eum incidunt dolorem asperiores. Beatae dignissimos similique reiciendis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi, rerum tenetur, sunt placeat assumenda maxime deserunt ex repudiandae iure qui totam est nemo labore laudantium fuga magnam esse cum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officia velit culpa nulla illum reprehenderit adipisci animi necessitatibus, dignissimos totam? Debitis optio quos ut reiciendis vel minima suscipit aliquam distinctio.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore optio provident recusandae cumque a iste cupiditate laudantium rerum, nisi id laborum error eum incidunt dolorem asperiores. Beatae dignissimos similique reiciendis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi, rerum tenetur, sunt placeat assumenda maxime deserunt ex repudiandae iure qui totam est nemo labore laudantium fuga magnam esse cum.
    </p>

  </div>
</div>
