
<div class="d-flex justify-content-around mb-3">
  <div class="p-2 mt-5 border border-primary rounded">
    <img src=<%=@python_url%> alt="An image of the Python logo">
  </div>
  <div class="p-2 mt-5 border border-primary rounded"> 
    <img src=<%=@ruby_url%> alt="An image of the Ruby logo">
  </div>
  <div class="p-2 mt-5 border border-primary rounded">
    <img src=<%=@cpp_url%> alt="An image of the C++ logo">
  </div>
</div>
